<DOCTYPE html>
    <html lang= "es">
    <head>  
        <meta charset="UTF-8">
        <mera name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='css/registro.css')}}">
    </head>
    <body>
        <div class="reg">   
        <h1>registrate</h1>
        </div>
        <div class="form">
               <input type="texto" placeholder="Ingresa tu nombre"> 
            <input type="texto" placeholder="Ingresa tu apellido">
            <input type="email" placeholder="Ingresa tu correo">
            <input type="texto" placeholder="Ingresa tu direccion">
            <input type="number" placeholder="Ingresa tu telefono">
            <input type="texto" placeholder="Ingresa tu usuario">
               <input type="password" placeholder="Ingresa tu contraseña">
               <button>Registrarme</button>
        </div>
    </body>
    
    </html>